################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/MvcExtension/bin/Debug/netstandard2.0
/MvcExtension/obj
/SugarExtension/bin/Debug/netstandard2.0
/SugarExtension/obj
/SwaggerExtension/bin/Debug/netstandard2.0
/SwaggerExtension/obj
/WebFilter/bin/Debug/netcoreapp2.2
/WebFilter/obj
/WebFilter/Properties
/WebFilter/WebFilter.xml
/WebFilter/WebTest.xml
/Core/bin/Debug/netstandard2.0
/Core/obj
/ErrorHandlingMiddleware/bin/Debug/netstandard2.0
/ErrorHandlingMiddleware/obj
/ErrorHandling/bin/Debug/netstandard2.0
/ErrorHandling/obj
/CustomExceptionHandler/bin/Debug/netstandard2.0
/CustomExceptionHandler/obj
/CapWithSugarExtension/bin/Debug/netstandard2.0
/CapWithSugarExtension/obj
/WebFilter/bin/Debug/netcoreapp3.1
/JwtSecurityTokenExtension/bin/Debug/netstandard2.0
/JwtSecurityTokenExtension/obj
/AuthorizationExtension/bin/Debug/netcoreapp3.1
/AuthorizationExtension/obj
/JwtSecurityTokenExtension/bin/Debug
/HttpClient/bin/Debug/netstandard2.0
/HttpClient/obj/Debug/netstandard2.0
/HttpClient/obj
/WebTest.Application/bin/Debug/netstandard2.0
/WebTest.Application/obj
/WebTest.Domain/bin/Debug/netstandard2.0
/WebTest.Domain/obj
/WebTest.Infrastructure/bin/Debug/netstandard2.0
/WebTest.Infrastructure/obj
